*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: white;
    font-family: 'Flamenco', cursive;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../image/form_background.jpg);
    height:800px;
    background-size: cover;
    background-repeat: no-repeat;
}
.clearfix:after{
    content: " ";
    visibility: ;
    display: block;
    height: 0px;
    clear: both;
}
.row{
    max-width: 1180px;
    margin:0 auto;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav{
    float: right;
    margin-top: 60px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a{
    padding: 5px 0;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
}
.main-nav li a:hover{
    border-bottom: 2px solid #bf55ec;
}
h3{
    margin-left: 600px;
    margin-top: 10px;
}
.main-content-header{
    border-top: 2px solid white;
}

.main-content-header a{
    text-decoration: none;
    color: #bf55ec;
}
.main-content-header a:hover{
    text-decoration: none;
    color: #fff;
}


/*table Heading*/
table{
    margin-top:25px;
    margin-left: 80px;
   
}
.massage_h1{
    padding-left: 15px;
    font-size: 20px;
    color: yellow;
    border-top: 1px solid white;    
}
.id_h1{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: yellow;
    border-top: 1px solid white;
    border-left: 1px solid white;
}
.name_h1{
    padding-left: 15px;
    font-size: 20px;
    color: yellow;
    border-top: 1px solid white;
}
.email_h1{
    padding-left: 55px;
    font-size: 20px;
    color: yellow;
    border-top: 1px solid white;
    
}
.contact_h1{
    padding-left: 55px;
    padding-right: 20px;
    font-size: 20px;
    color: yellow;
    border-top: 1px solid white;
}

/*/////Inner Table Heading/////*/
th{
    padding-left: 100px;
    
    border-bottom: 1px solid white;
    
    border-right: 1px solid white;
}

.massage_h{
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: 2px solid white;
    padding-right: 35px;
    
    padding-left: 35px;
    
}
.id_h{
    padding-left: 10px;
    border-right: 1px solid white;
    padding-right: 15px;
    border-left: 1px solid white;
}
.name_h{
    padding-left: 15px;
    border-right: 1px solid white;
    padding-right: 35px;
}
.email_h{
    padding-left: 55px;
    border-right: 1px solid white;
    padding-right: 35px;
}
.contact_h{
    padding-left: 55px;
    border-right: 1px solid white;
    padding-right: 35px;
    
}