*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: black;
    font-family: 'Flamenco', cursive;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../image/back_6.jpg);
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.clearfix:after{
    content: " ";
    visibility: ;
    display: block;
    height: 0px;
    clear: both;
}
.row{
    max-width: 1180px;
    margin:0 auto;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav{
    float: right;
    margin-top: 60px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a{
    padding: 5px 0;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
}
.main-nav li a:hover{
    border-bottom: 2px solid #bf55ec;
}
.main-content-header{
    width: 1180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.index_h1{
    color:#fff;
    word-spacing: 5px;
    font-size: 240%;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}
.login_heading{
    color:#fff;
    margin-left: 600px;
    color: yellow;
    font-family: sans-serif;
    margin-top: 12px;
    
   
}
.login-content-header{
    width: 1370px;
    border-top: 2px solid #fff;
   
}
.form1{
    margin-left:550px;
    color:white;
    margin-top: 5px;
    font-size: 18px;
}
.table{
    padding-left:10px;
}
.submit{
    width: 60px;
    background:white;
    border: 1px solid #bf55ec;;
    color: red;
}
.submit:hover{
    background: blue;
}